# ----------------------------------------------------------
# MINIO ENDPOINT
# ----------------------------------------------------------
S3_ENDPOINT=

# ----------------------------------------------------------
# CREDENCIAIS S3
# ----------------------------------------------------------
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# ----------------------------------------------------------
# REGIÃO (EXIGIDA PELOS SDKs S3: DuckDB, boto3, etc.)
# ----------------------------------------------------------
AWS_DEFAULT_REGION=us-east-1
