# ----------------------------------------------------------
# S3 COMPATIBLE / OBJECT STORAGE
# ----------------------------------------------------------
S3_ENDPOINT= 
AWS_ACCESS_KEY_ID= 
AWS_SECRET_ACCESS_KEY= 
AWS_DEFAULT_REGION=us-east-1 

# ----------------------------------------------------------
# CONFIGURAÇÕES DE HARDWARE (DUCKDB)
# ----------------------------------------------------------
# Limite de memória (ex: 4GB, 16GB). 
# IMPORTANTE: Deixe ao menos 6GB livres para o SO/Docker
DUCKDB_MEMORY_LIMIT=6GB
# Quantidade de threads/núcleos (ex: 2, 4, 8). 
# RECOMENDAÇÃO: Use o total de vCPUs da máquina menos 1 ou 2 para evitar travamentos.
DUCKDB_THREADS=4

# ----------------------------------------------------------
# POLÍTICA DE RETENÇÃO DO PIPELINE (RUNS)
# ----------------------------------------------------------
# Define o limite de execuções para cada camada do medalhão
BRONZE_MAX_RUNS=1
SILVER_MAX_RUNS=1
GOLD_MAX_RUNS=1