# ----------------------------------------------------------
# S3 COMPATIBLE / OBJECT STORAGE
# ----------------------------------------------------------
S3_ENDPOINT= 
AWS_ACCESS_KEY_ID= 
AWS_SECRET_ACCESS_KEY= 
AWS_DEFAULT_REGION=us-east-1 

# ----------------------------------------------------------
# CONFIGURAÇÕES DE HARDWARE (DUCKDB)
# ----------------------------------------------------------
# Limite de memória (ex: 4GB, 8GB, 16GB). 
# RECOMENDAÇÃO: Deixe ao menos 6GB livres para o SO/Docker (Total memória da máquina - 6GB).
DUCKDB_MEMORY_LIMIT=6GB

# Limite de threads/núcleos (ex: 2, 4, 8). 
# RECOMENDAÇÃO: Deixe ao menos 1 ou 2 núcleos livres para o SO/Docker (Total vCPUs da máquina - 1).
DUCKDB_THREADS=5

# ----------------------------------------------------------
# POLÍTICA DE RETENÇÃO DO PIPELINE (RUNS)
# ----------------------------------------------------------
BRONZE_MAX_RUNS=1
SILVER_MAX_RUNS=1
GOLD_MAX_RUNS=1
