.block-container {
  padding-top: 46px !important;
}

section[data-testid="stSidebar"] {
  width: 309px !important;
  min-width: 309px !important;
  max-width: 309px !important;
}

[data-testid="stMarkdownContainer"] code,
[data-testid="stCaptionContainer"] code {
  color: #DAD0D1 !important;
  background-color: #1A1C24 !important;
  padding: 4px 6px !important;
  border-radius: 6px !important;
}

code.theme-1 {
  color: #DAD0D1 !important;
  background-color: #731E27 !important;
  padding: 4px 6px !important;
  border-radius: 6px !important;
}

[data-testid="stMetricLabel"] {
  font-size: 1.2rem !important;
}

[data-testid="stMetricValue"] {
  font-size: 1.35rem !important;
}

div[data-testid="stNotification"] {
  background-color: #1A1A1A !important;
  color: #DAD0D1 !important;
  border: 1px solid #731E27 !important;
}

[data-testid="stMarkdownContainer"] blockquote {
  background-color: #1A1A1A !important;
  border-left: 5px solid #731E27 !important;
  color: #DAD0D1 !important;
  padding: 15px !important;
}

[data-testid="stNotification"] [data-testid="stMarkdownContainer"] p,
[data-testid="stMarkdownContainer"] blockquote p,


div[data-testid="stMarkdownContainer"] h6 {
  color: #8D8788 !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}

button[data-baseweb="tab"][aria-selected="true"] p {
  color: #fff !important;
}


button[data-baseweb="tab"] {
  background-color: #1A1A1A !important;
  border-radius: 5px 5px 0px 0px !important;
  margin-right: 5px !important;
  padding: 10px 20px !important;
  border: none !important;
}

button[data-baseweb="tab"][aria-selected="true"] {
  background-color: #262730 !important;
  border-bottom: 2px solid #731E27 !important;
}

div[data-baseweb="tab-list"] {
  gap: 4px;
  background-color: transparent !important;
}

div[data-baseweb="tab-highlight"] {
  background-color: #4F1C22 !important;
  height: 4px !important;
}

div.stDownloadButton>button {
  background-color: #731E27;
  color: #DAD0D1;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}

div.stDownloadButton>button:hover {
  background-color: #8E2530;
  color: #FFFFFF;
}